/*Add your custom styles here*/
.starting-title {
    text-align: center;
}

/* <div class="form-group">
    <label for="bs">BS</label>
    <input type="text" name="bs" placeholder="BS" class="form-control" required>
</div> */
/* add red "*" after label but onlu if input is required */
label.required-label::after {
    content: " *";
    color: red;
}

.h-buttons {
    display: flex;
    justify-content: space-between;
}

.table-container {
    overflow-x: scroll;
}

.table-container svg {
    width: 15px;
    height: 15px;
}